In [159]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [160]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

headers = {'User-Agent': 'Mozilla/5.0'}
page = requests.get(url)

In [161]:
#https://www.whoishostingthis.com/tools/user-agent/
soup = BeautifulSoup(page.content, 'html.parser')



Toronto_table = soup.find_all('table', class_='wikitable sortable' )

#soup.find_all('table', class_='wikitable sortable jquery-tablesorter' )

In [162]:
type(Toronto_table)

bs4.element.ResultSet

In [163]:
Toronto_table = Toronto_table[0]

In [164]:
type(Toronto_table)

bs4.element.Tag

In [414]:
import os

data = []

os.remove('toronto_temp.txt')
os.remove('toronto_final.txt')

with open ('toronto_temp.txt','w') as f:
    for row in Toronto_table.find_all('tr'):
        f.write(row.text) 
        
        
with open ('toronto_temp.txt','r') as t:
    with open('toronto_final.txt','w') as f:
        for ligne in t.readlines():
            ligne = ligne.strip('\n')
            ligne=ligne.strip(' ')
            data.append(ligne)


data1 = []
data1 = [data[i] for i in range(1,len(data),2)]


#with open ('toronto_extract.txt','w') as t:

#for i in range(1,len(data),2):
#    print(data[i])




#with open ('toronto_final.txt','r') as z:
 #   data_ = z.readlines()
 #   print(data)

In [190]:
#df = [[data1[i],data1[i+1],data1[i+2] for i in range(1,len(data1),3)]]
df = []
df = [[data1[i] for i in range(0,len(data1),3)],[data1[i] for i in range(1,len(data1),3)],[data1[i] for i in range(2,len(data1),3)]]

#df = pd.read_csv('toronto.csv',sep='\t')

In [197]:
df = pd.DataFrame(df)
df.columns

RangeIndex(start=0, stop=181, step=1)

In [202]:
df1 = df.T
df1.columns = ["Postal Code", "Borough", "Neighborhood"]

In [255]:
df2 = []
df2 = df1.drop([0], axis=0)

results = df2.Borough != "Not assigned"

df3 = df2
for i in range(1,len(results)+1):
    if results[i] == False:
        df3.drop([i], axis=0,inplace = True)

In [376]:
df3
import numpy
df4 = df3.to_numpy()

'North York'

In [415]:
df5 = []
df5 = pd.DataFrame(df4)
df5.columns = ["Postal Code", "Borough", "Neighborhood"]


df5


#df6 = df5
#size = len(df6['Borough'])

#for j in range(0, size):
#    for k in range(0,size):
#        val1 = df6['Postal Code'][j]
#        val2 = df6['Postal Code'][k]
#        if val1 == val2: 
#            df6['Borough'][k] = [df6['Borough'][k], ' , ', df6['Borough'][j]]
#            #df6.drop([j], axis=0,inplace = True)
        #else :
         #   print('not equal')

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."